/* Other S */

* {
  font-family: 'Montserrat Alternates', sans-serif;
}


div.absolute {
  position: absolute;
  background-image: url("../assets/realbg.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  left: 0px;
  right: 0px;
  top: 85px;
  bottom: 0px;
}




/*Navbar*/

#login-navlink {
  font-size: 20px;
  text-decoration: none;
  color: rgb(77, 1, 255);
  font-family: 'Baloo 2', cursive;
}

#login-navlink:hover {
  width: 100px;
  height: 50px;
  color: black;
  border: 2px solid black;
}

#navlink {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Baloo 2', cursive;
}

#navlink:hover {
    background-color: #ddd;
    color: black;
}

ul {
  display: inline;
  /* text-transform: uppercase; */
  list-style-type: none;
}

li{ 
  display: inline;
  margin: 10px 0;
}

.menu {
  position: absolute;
  height: 14.5vh;
  width: 100vw;
  /* box-shadow: 1px 0 2px rgba(0,0,0,.2); */
}  

.navbar-title {
    display: inline;
    text-align: center;
    height: 75px;
    width: 342px;
    /* background-color: rgba(54, 0, 248, 0.24); */
    color: rgba(0, 0, 0, 0.5);
    font-size: 70px;
    letter-spacing: 15px;
  }
  
  .tabs {
    padding-right: 30px;
    padding-left: 20px;
  }

  .login-tab {
    margin-right: 0px;
    margin-left: 350px;
    padding-left: 20px;
    padding-right: 20px;
  }



/* Login Page */

.form-container {
  /* background-image: url("../assets/loginbg.jpg");
  background-size: cover; */
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  margin-top: 150px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.418);
}

/* .main-container {
  /* background-image: url("../assets/loginbg.jpg");
  background-size: cover; */
/* } */

.title {
  text-align: center;
  padding-top: 40px;
  color: #6c328b;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.button-container {
  margin-top: 10px;
  display: flex;  
  justify-content: center;  
  align-items: center; 
  font-family: 'Ubuntu', sans-serif;
  border-radius: 25px;
}

.input-container {
  margin: 5px;
  display: flex;  
  justify-content: center;  
  align-items: center; 
}








/*Footer Styling*/


.footer-dark {
  display: inline-block;
  margin-top: 550px;
  color:#f0f9ff;
  background-color:#282d32;
  width: 100%;
  height: 48%;
}

.footer-dark h3 {
  margin-top: 12px;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding: 0px;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  color:inherit;
  text-decoration:none;
}

.footer-dark li {
  display: block;
  padding-right: 30px;
}
/* .footer-dark ul Link {
  display: flex;
  color:inherit;
  text-decoration:none;
  opacity:0.6;
} */

.footer-link:hover {
  color: white;
  text-decoration: none;
}

.footer-link2:hover {
  color: white;
  text-decoration: none;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}



/* Profile Page */

h6 {
  font-size: 14px
}


/* .padding {
  padding-top: 20px;
  padding-top: 20px;
} */


.user-card-full {
  overflow: hidden;
  padding-top: 0px;
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.row  {
padding-top: 100px;
}


.bg-c-lite-green {
  background: linear-gradient(to right, #6467fd, #1c0080);
}

.user-profile {
  padding: 20px 0;
  border-radius: 5px 0 0 5px;
}

/* .card-block {
  padding: 1.25rem;
} */

.card-block p {
  line-height: 25px
}

.card p {
  line-height: 25px
}

.img-radius {
  border-radius: 5px
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}




/* Team Page */

.team-container {
  margin: 0px;
  padding: 0px;
  background-color: #6c328b;
}

.card-pic {
  width: 400px;
  height: 200px;
}


/*Nathan Item Details*/
/*.container2 {
  left: 700px;
  bottom: 100px;
  position: absolute;

}

.container1 {
  bottom: 300;
  left: 660px;
  position: absolute;
}

.container3 {
 position: absolute;
 left: 697px;
 bottom: 467;
}

.container4{
  position: absolute;
  bottom: 700;
  left: 697px;
}
#detailCard {
  margin-bottom: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 1em;
}
#detailCard2{
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 1em;
}
#detailCard3{
  border: 1px solid transparent ;
  border-radius: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
}
#detailCard4{
  border-radius: 1em;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  height: 300px;
}
.product{
  position: absolute;
  bottom: 725;
  left: 1010px;
}*/